* {
    box-sizing: border-box;
}

html {
    background-color: #23252C;
    display: block;
    /* justify-content: center; */
    /* margin: 0 auto; */
}

body {
    margin: 2.75rem auto 2.2rem;
    background-color: #1A1B21;
    color: white;
    font-family: "Inter", sans-serif;
    width: 19.81em;
    border-radius: 10px;
}

header > img {
    display: block;
    margin: 0 auto;
    width: 19.81em;
    height: 19.81em;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 10px 10px 0 0;
}

.titles {
    text-align: center;
}

.titles > .name {
    margin: 0;
    margin-top: 1.31rem;
    line-height: 100%;
    font-size: 1.56rem;
    font-weight: 700;
}

.titles > .job {
    margin: 0;
    margin-top: 0.31rem;
    line-height: 100%;
    font-size: 0.8rem;
    color: #F3BF99;
}

.titles > .website {
    margin: 0;
    margin-top: 0.44rem;
    line-height: 100%;
    font-size: 0.64rem;
    color: #F5F5F5;
    cursor: pointer;
    text-decoration: none;
}