* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #23252C;
    display: block;
    /* justify-content: center; */
    /* margin: 0 auto; */
}

#root {
    margin: 2.75em auto 2.2em;
    background-color: #1A1B21;
    color: white;
    font-family: "Inter", sans-serif;
    width: 19.81em;
    border-radius: 10px;
}

/************* Header *************/
header > img {
    display: block;
    margin: 0 auto;
    width: 19.81em;
    height: 19.81em;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 10px 10px 0 0;
}

.titles {
    text-align: center;
}

.titles > .name {
    margin: 0;
    margin-top: 1.31em;
    line-height: 100%;
    font-size: 1.56rem;
    font-weight: 700;
}

.titles > .job {
    margin: 0;
    margin-top: 0.31em;
    line-height: 100%;
    font-size: 0.8rem;
    color: #F3BF99;
}

.titles > .website {
    margin: 0;
    margin-top: 0.44em;
    line-height: 100%;
    font-size: 0.64rem;
    color: #F5F5F5;
    text-decoration: none;
}

.my-links {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.875rem;
    font-weight: 500;
    /* line-height: 1em; */
}

.email, .linkedin {
    width: 8.4em;
    height: 2.2em;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    color: #374151;
    background-color: white;
}

.linkedin {
    background-color: #5093E2;
}


.email>i, .linkedin>i {
    margin-right: 0.5em;
}
/************* Header *************/

/************* Main *************/
main {
    margin: 0;
    margin: 2em 1.5em 2em;
    display: flexbox;
    /* justify-content: center;
    align-items: center; */
}

main>h2 {
    margin: 1em 0 0 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
}

main>p {
    margin: 0.1em 0 0 0;
    font-size: 0.65rem;
    line-height: 150%;
}
/************* Main *************/

/************* Footer *************/
footer {
    padding: 1em;
    background-color: #161619;
    display: flex;
    justify-content: center;
    gap: 1em;
        border-radius: 0 0 10px 10px;

}

footer > a {
    color: #918E9B;
    font-size: 1.56rem;
}
/************* Footer *************/
